.big_wrapper{
	width: 100%;
	text-align:left;
  background-image: url("../image/assets/backgrounds/landing.jpg");
  text-align: center;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: cover;
  height: 70vh;
 }
